.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.main-content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.editButton {
  margin-right: 1.5em !important;
}

.edit-button-small {
  margin: 0;
}

.modal-table {
  /*margin-top: 5.5em !important;*/
}

.modal-table-header p {
  /*margin-top: 5.5em !important;*/
  font-weight: normal !important;
}

.input-edit, .input-edit input {
  background-color: lightyellow !important;
}

.table-header-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 1.25em;
}

a.nav-link {
  font-size: 1.25em;
}

div.nav-bar {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
  border-radius: 0 !important;
}

.table-bottom-margin {
  margin-bottom: 2em !important;
}

div.scrolling-modal-content.scrolling.content {
  padding-top: 0 !important;
}

div.row.add-buttons-column {
  padding-bottom: 0 !important;
}

#add-buttons-column {
  padding-bottom: 0 !important;
}

.search-input {
  margin-top: 1em;
}

.add-buttons-container {
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
